<!-- 404 display -->
<div class="row justify-content-center" id="hold-404">
    <div class="col-12 col-md-8 col-lg-8" id="actual-404">
        404!
    </div>
</div>
<div class="row justify-content-center" id="hold-404">
    <div class="col-12 col-md-8 col-lg-8" id="text-404">
        page not found
    </div>
</div>
<div class="row" id="rest-of-page"></div>
