<!-- make a post display -->
<div class="container-fluid" id="add-new-post-page">
  <div class="row justify-content-center">
    <div class="col-12 col-md-11">
      <div class="card" id="add-post-card">
        <div class="card-header">
          <div class="row">
              <div class="col-6 col-sm-7 col-lg-8">
                      <h2>Make a post</h2>
              </div>
          </div>
        </div>
        <div class="card-body">
          <div class='form-group'>
          <label for='title'>Title</label>
          <div class="row">
          <input type='textArea' name='title' id='title_area'/>
          </div>
          </div>
          <div class='form-group' id="content_sec">
            <label for='content'>Content</label>
            <div class="row">
            <input type='textArea' name='content' id='content_area'/>
            </div>
          </div>
          <div class="row justify-content-center" id="post-btn-hold">
            <button class="post">POST</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='/js/makepost.js'></script>
